<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">   

  <title>Register</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>
              <form class="user" method = "POST" action = "/register">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="exampleFirstName" name="firstName" placeholder="First Name">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id="exampleLastName" name = "lastName" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" id="exampleInputEmail" name = "email" placeholder="Email Address">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" id="exampleInputPassword" name = "inputPassword" placeholder="Password">
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" id="exampleRepeatPassword" name = "repeatPassword" placeholder="Repeat Password">
                  </div>
                </div>
                <button type = "submit" class= "btn btn-primary btn-user btn-block">
                  Register Account
                </button>
                <hr>               

                <!-- 사용자 정의 구글로그인 버튼 -->
                <input type="button" id="loginBtn" value="Goolge checking..." class="btn btn-google btn-user btn-block" onclick="
                  if(this.value === 'Google Login') {
                    gAuth.signIn({
                      scope:'https://www.googleapis.com/auth/drive.metadata.readonly'
                    }).then(function() {
                      console.log('gAuth.singIn()');
                      checkLoginStatus()
                    });
                  } else {
                    gAuth.signOut().then(function() {
                      console.log('gAuth.singOut()');
                      checkLoginStatus()
                    });
                  }
                ">

                <!-- The 페이스북 JS SDK Login Button -->
                <fb:login-button scope="public_profile,email,instagram_basic" onlogin="checkLoginState();" class="btn btn-facebook btn-user btn-block">
                </fb:login-button>
                <div id="status">
                </div>                

              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="forgot-password">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="login">Already have an account? Login!</a>
              </div>

              <!-- validation error -->
              <div class="text-center">
                <% if (typeof(errors) != 'undefined'){
                  for(var error of errors){
                    %>
                    <p class = "text-danger"><%= error.msg %></p>
                  <%
                  }
                }
                %>
              </div>

              <!-- 이메일 중복 error -->
              <div class="text-center">
                <% if (typeof(err) != 'undefined'){
                    %>                    
                    <p class = "text-danger"><%= err %></p>
                  <%
                  }                
                %>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>  
  
  <!-- 구글로그인 -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>  

  <!-- 구글로그인 auth 초기화 -->
  <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
  
  <script>
    function checkLoginStatus() {
      let loginBtn = document.querySelector('#loginBtn');
      if(gAuth.isSignedIn.get()) {
        console.log('logged in');
        loginBtn.value = 'Google Logout';
      } else {
        console.log('logged out');
        loginBtn.value = 'Google Login';
      }
    }
  </script>  
  
  <!-- 구글로그인 auth 초기화 -->
  <script>
    function init(){
      console.log('init');
      gapi.load('auth2', function() {
        console.log('auth2');
        window.gAuth = gapi.auth2.init({
          client_id:'251124786260-fr5q6pg249tthkstvf8f9lkhb28kk9tc.apps.googleusercontent.com'
        })
        gAuth.then(function(){
          console.log('googleAuth success');
          checkLoginStatus()          
        }, function(){
          console.log('googleAuth fail');
        });
      });
    } 
  </script>

  <!-- 페이스북 -->
  <script>
    window.fbAsyncInit = function() {
    FB.init({
      appId      : '945171262626801',
      cookie     : true,                     // Enable cookies to allow the server to access the session.
      xfbml      : true,                     // Parse social plugins on this webpage.
      version    : 'v8.0'           // Use this Graph API version for this call.
    });

    FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
      console.log(response)
      //statusChangeCallback(response);        // Returns the login status.
      if(response.status === 'connected') {
        document.querySelector('#authBtn').value = 'Facebook Logout'
      } else {
        document.querySelector('#authBtn').value = 'Facebook Login'
      }
    });

    function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      document.getElementById('status').innerHTML =
        'Thanks for logging in, ' + response.name + '!';
      });
    }    
  };  
  </script>  

  <!-- Load the 페이스북 JS SDK asynchronously -->
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>

</body>

</html>
